@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #070d1f;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h4{
    font-family: 'Abyssinica SIL', serif;
    color: white;
    text-shadow: 5px 0px 1px rgba(255,0.8,128,0.1) , 3px 2px 1px rgba(111, 173, 236,0.1);
}
p{
    font-family: 'Bitter', serif;
}
button{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Bitter', serif;
}